body{

    border: 2px red solid;
    height: 400px;
    place-content: center;
    place-items: center;
    background-color: gray;


}


#full-container{

    border: 2px rgb(253, 253, 0) solid;
    height: auto;
    margin: 2px 200px 50px 200px;
    background-color: rgb(253,253,0);
    /* width: fit-content; */
    object-fit: cover;

    

    
}

#input{

    border: 2px blue solid;
    float: left;
    /* width: 90%; */
    margin: 5px 0 0px 3px;
    object-fit: cover;



}

#in{

    width: 100px;
    height: 20px;
}

button{

    border: 2px black solid;
    /* margin: 5px 0 0 0; */
    object-fit: cover;

}

#b{

    border: 2px purple solid;
    margin-top: 6px;
    background-color: chartreuse;
    /* border: 1px darkgreen solid; */

}


#table{

    border: 2px rgb(74, 122, 124) solid;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
   overflow:scroll;
    table-layout: fixed;
    width: 94%;

}

h2{

    text-align: center;
}

#inner-table{


    text-align:left;
    object-fit: cover;
    table-layout: fixed;
    width: 100%;


}